main {
  margin: 3rem 5rem 0 5rem;
  font-size: 1.4rem;
}

.jumbotron {
  background-color: #dcdcdc;
  border: none;
  font-size: 2.5rem;
  margin: 0 auto;
  max-width: 90%;
  padding: 1.5rem;
}

.jumbotron-paragraph {
  font-size: 1.4rem;
  margin-top: 3rem;
}

.control-label {
  font-size: 2rem;
  font-weight: bold;
}

.form-control {
  font-size: 1.4rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  background-color: #00bfff;
  border: none;
  margin-top: 3rem;
}
